body {font-family:Verdana,sans-serif,Arial;font-size:8pt;text-align:center;background-image:url(bg_top.gif);background-repeat:repeat-x;}
td {font-family:Verdana,sans-serif,Arial;}
tr {text-align:right;}
.sa {font-size:70%;color:#627A9A;text-align:left;}
.th {font-size:9pt;background-color:#95B2C2;font-weight:bold;text-align:center;color:#FFFFFF;background-image:url(bg_one.gif);background-repeat:no-repeat;background-position:right;}
.ts {font-size:8pt;background-color:#95B2C2;font-weight:bold;color:#FFFFFF;background-image:url(bg_one.gif);background-repeat:no-repeat;background-position:right;}
.tl {text-align:left;}
.tc {text-align:center;}
.tur {font-size:8pt;background-color:#FFFFFF;color:#627A9A;background-image:url(bg_two.gif);background-position:right;background-repeat:repeat-y;}
.ter {font-size:8pt;background-color:#E7E7E7;color:#27446A;background-image:url(bg_two.gif);background-position:right;background-repeat:repeat-y;}
.stur {font-size:8pt;background-color:#FFFFFF;color:#627A9A;}
.ster {font-size:8pt;background-color:#E7E7E7;color:#27446A;}
H1 {font-size:13pt;color:#586F8D;font-weight:normal;font-family:Verdana, Tahoma, Arial;text-decoration:none;margin-left:60px;margin-top:0px;margin-bottom:0px;}
a.headed {color:#586F8D;font-size:10pt;font-family:Verdana, Tahoma, Arial;text-decoration:none;}
a.headed:link {color:#586F8D;font-size:10pt;font-family:Verdana, Tahoma, Arial;text-decoration:none;}
a.headed:vlink {color:#586F8D;font-size:10pt;font-family:Verdana, Tahoma, Arial;text-decoration:none;}
a.headed:hover {color:#586F8D;font-size:10pt;font-family:Verdana, Tahoma, Arial;text-decoration:underline;}
a.headed:active {color:#586F8D;font-size:10pt;font-family:Verdana, Tahoma, Arial;text-decoration:underline;}
a.header2 {color:#2D507E;font-size:100%;font-weight:bold;font-family:Verdana, Tahoma, Arial;text-decoration:none;}
a.header2:link {color:#2D507E;font-size:100%;font-weight:bold;font-family:Verdana, Tahoma, Arial;text-decoration:none;}
a.header2:vlink {color:#2D507E;font-size:100%;font-weight:bold;font-family:Verdana, Tahoma, Arial;text-decoration:none;}
a.header2:hover {color:#2D507E;font-size:100%;font-weight:bold;font-family:Verdana, Tahoma, Arial;text-decoration:underline;}
a.header2:active {color:#2D507E;font-size:100%;font-weight:bold;font-family:Verdana, Tahoma, Arial;text-decoration:underline;}
a {color:#4D4D4D;font-family:Verdana, Tahoma, Arial;text-decoration:none;}
a:link {color:#4D4D4D;font-family:Verdana, Tahoma, Arial;text-decoration:none;}
a:vlink {color:#4D4D4D;font-family:Verdana, Tahoma, Arial;text-decoration:none;}
a:hover {color:#4D4D4D;font-family:Verdana, Tahoma, Arial;text-decoration:underline;}
a:active {color:#4D4D4D;font-family:Verdana, Tahoma, Arial;text-decoration:underline;}
 